*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face { 
    font-family: "Geologica"; 
    src: url("../fonts/Geologica-Medium.ttf"); 
} 
p { 
    font-family: "Geologica"; 
}
span{
    font-family: "Geologica"; 
}
body {
    background-color: #212D4B;
}
/* header */
nav{
    padding: 0 50px;
    width: 100%;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarone{
    background-color: gray;
    color: white;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.right div div{
    margin-left: 40px;
}
.left{
    margin-left: 40px;
}

.email,
.call{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

span{
    margin-left: 5px;
}

.email:hover,
.call:hover{
    color: black;
}

.navbarsecond{
    background-color: #212D4B;
    height: 110px;
    width: 100%;
    position: sticky;
    top: 0;
}

.logo{
    cursor: pointer;
}

li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-left: 60px;
    font-size: 120%;
    font-family:"Geologica";
}

ul li:hover{
    transform: scale(1.1);
}

ul li a:hover{
    color: #BF996F;
}
.active{
    color: #BF996F;
}

/* main */
.titulo-contacto{
    background-color: #BF996F;
    color: white;
    height: 75px;
    font-size: 130%;
    font-family:"Geologica";
    display: flex;
    justify-content: center;
    align-items: center;
}
.fomulario-cta{
    background-color: rgb(253, 253, 253);
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 125%;
    display:grid;
    grid-template-columns: 350px 550px;
    grid-template-rows: 620px;
    align-content: center;
    column-gap: 90px;
}
.form{
    color: #212D4B;
    font-family:"Geologica";
    padding-top: 15px;
    font-weight: 600;
}

input{
    padding: 8px;
}

button{
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #BF996F;
    border-color: #BF996F;
    color: white;
    margin-top: 15px;
    font-family:"Geologica";
    font-size: 80%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color:  #ce8c46;
}

.cta h3{
    font-family:"Geologica";
    color: #212D4B;
}

.cta p{
    font-size: 85%;
}
/* footer */
.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    justify-content: space-around;
    padding: 50px 0 30px;

}

.footer-row h3{
    font-family:"Geologica";
    color: #BF996F;;
}

#footer{
    color: white;
}

.footer-row p{
    align-self: center;
}

.contacto-footer {
    align-items: center;
}

.contacto-footer .call{
    padding-bottom: 20px;
    cursor: pointer;
}
.horario-box{
    display: flex;
}

.horas p{
    padding-left: 25px;
}

.horario-encabezado,
.dias .horas{
    flex-direction: column;
}