*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face { 
    font-family: "Geologica"; 
    src: url("../fonts/Geologica-Medium.ttf"); 
} 
p { 
    font-family: "Geologica"; 
}

span{
    font-family: "Geologica"; 
}

body {
    background-color: #212D4B;
}
/* header */
/* .contactos{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px;
}
.redes {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 20px;
    padding-right: 20px;
} */

nav{
    padding: 0 50px;
    width: 100%;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarone{
    background-color: gray;
    color: white;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.right div div{
    margin-left: 40px;
}
.left{
    margin-left: 40px;
}

.email,
.call{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

span{
    margin-left: 5px;
}

.email:hover,
.call:hover{
    color: black;
}

.navbarsecond{
    background-color: #212D4B;
    height: 110px;
    width: 100%;
    position: sticky;
    top: 0;
}

.logo{
    cursor: pointer;
}

li{
    list-style: none;
}


ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-left: 60px;
    font-size: 120%;
    font-family:"Geologica";
}


ul li:hover{
    transform: scale(1.1);
}

ul li a:hover{
    color: #BF996F;
}

.active{
    color: #BF996F;
}

/* main */
#sobrenosotros{
    background-color: white;
    height: 500px;
    font-family:"Geologica";
    display: flex;
    align-items: center ;
    justify-content: center;
    display: grid;
    grid-template-columns: 250px 600px 250px;
    grid-template-rows: 350px ;
    justify-items: center;
    align-content: center;
    column-gap: 170px;
}

.img-historia img{
    height: 300px;
}

.historia-text{
    padding-bottom: 50px;
}
.historia-text h1{
    font-size: 300%;
}
.historia-text p{
    font-size: 108%;
}

#filosofia{
    height: 500px;
    background-color: #BF996F;
    color: white;
    font-family:"Geologica";
    /* display: flex; */
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo"
    "mision vision valores";
    justify-content: center;
    align-content: center;
    grid-template-columns: 400px 400px 200px;
    column-gap: 60px;
    row-gap: 50px;
}

.filosofia-titulo{
    grid-area: titulo;
    justify-self: center;
    padding-bottom: 30px;
    font-size: 150%;
    text-decoration-line: underline;
}

.mision{
    grid-area: mision;
}
.mision h2{
    font-size: 200%;
}
.mision p{
    font-size: 110%;
}

.vision{
    grid-area: vision;
}
.vision h2{
    font-size: 200%;
}
.vision p{
    font-size: 110%;
}

.valores{
    grid-area: valores;
}
.valores h2{
    font-size: 200%;
}
.valores p{
    font-size: 110%;
}

/* footer */
.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    justify-content: space-around;
    padding: 50px 0 30px;

}

.footer-row h3{
    font-family:"Geologica";
    color: #BF996F;;
}

#footer{
    color: white;
}

.footer-row p{
    align-self: center;
}

.contacto-footer {
    align-items: center;
}

.contacto-footer .call{
    padding-bottom: 20px;
    cursor: pointer;
}
.horario-box{
    display: flex;
}

.horas p{
    padding-left: 25px;
}

.horario-encabezado,
.dias .horas{
    flex-direction: column;
}

/* MEDIA QUERIES */

/* MOVIL */
@media (max-width: 576px){
    body{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "main"
        "footer";
    }

    /* Header */
    .navbarone{
        width: 100%;
        height: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbarone .right{
        flex-direction: column;
    }
    
    .navbarsecond{
        height: 300px;
        flex-direction: column;
    }
    .navbarsecond .flex{
        flex-direction: column;
        padding-bottom: 25px;
    }

    /* MAIN */
    #sobrenosotros{
        background-color: white;
        padding-top: 100px;
        padding-bottom: 100px;
        height: 1300px;
        font-family:"Geologica";
        display: flex;
        align-items: center ;
        justify-content: center;
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: 300px 350px 300px;
        justify-items: center;
        align-content: center;
        row-gap: 170px;
    }
    
    .img-historia img{
        height: 200px;
    }
    
    .historia-text{
        padding-bottom: 50px;
    }
    .historia-text h1{
        font-size: 150%;
    }
    .historia-text p{
        font-size: 100%;
    }
    
    #filosofia{
        height: 800px;
        background-color: #BF996F;
        color: white;
        font-family:"Geologica";
        /* display: flex; */
        display: grid;
        grid-template-areas: 
        "titulo"
        "mision" 
        "vision" 
        "valores";
        justify-content: center;
        align-content: center;
        grid-template-columns: 300px;
        row-gap: 50px;
        text-align: center;
    }
    
    .filosofia-titulo{
        grid-area: titulo;
        justify-self: center;
        padding-bottom: 30px;
        font-size: 100%;
        text-decoration-line: underline;
    }
    
    .mision{
        grid-area: mision;
    }
    .mision h2{
        font-size: 100%;
    }
    .mision p{
        font-size: 90%;
    }
    
    .vision{
        grid-area: vision;
    }
    .vision h2{
        font-size: 100%;
    }
    .vision p{
        font-size: 90%;
    }
    
    .valores{
        grid-area: valores;
    }
    .valores h2{
        font-size: 90%;
    }
    .valores p{
        font-size: 90%;
    }


}