*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face { 
    font-family: "Geologica"; 
    src: url("../fonts/Geologica-Medium.ttf"); 
} 
p { 
    font-family: "Geologica"; 
}

span{
    font-family: "Geologica"; 
}

h3{
    font-family: "Geologica";
}
body {
    background-color: #212D4B;
}
/* header */
nav{
    padding: 0 50px;
    width: 100%;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarone{
    background-color: gray;
    color: white;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.right div div{
    margin-left: 40px;
}
.left{
    margin-left: 40px;
}

.email,
.call{
    display: flex;
    align-items: center;
    padding-left: 15px;
}

span{
    margin-left: 5px;
}

.email:hover,
.call:hover{
    color: black;
}

.navbarsecond{
    background-color: #212D4B;
    height: 110px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo{
    cursor: pointer;
}

li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-left: 60px;
    font-size: 120%;
    font-family:"Geologica";
}

ul li:hover{
    transform: scale(1.1);
}

ul li a:hover{
    color: #BF996F;
}
.active{
    color: #BF996F;
}



/* main */
main h2{
    background-color: #BF996F;
    color: white;
    height: 75px;
    font-size: 200%;
    font-family:"Geologica";
    display: flex;
    align-items: center;
    justify-content: center;
}
.servicio {
    width: 350px;
    height: 275px;
    background-color: white;
    padding: 10px;
    margin: 20px 40px 20px 40px;
    padding-bottom: 500px;
}

.servicio img{
    height: 225px;
    filter: drop-shadow(10px 10px 10px rgb(124, 122, 122));
}

.servicio h3{
    font-size: 150%;
    padding-top: 25px;
    color: #212D4B;
    }
.servicio p{
    font-size: 115%;
}

section div{
    display: inline-block;
}
#practicas{
    height: 800px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px;
    padding-right: 15px;
    background-color: #BF996F;
    border-color: #BF996F;
    color: white;
    margin-top: 15px;
    font-family:"Geologica";
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color:  #ce8c46;
}

.background-servicio{
height: 55vh;
width: 100%;
background-color: aliceblue;
background-image: url(../img/background\ inicio.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.industrias{
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.industrias h3{
    color: #BF996F;
    font-size: 200%;
    text-decoration: overline;
}
.industrias h4{
    padding-left: 80px;
    font-family:"Geologica";
    font-size: 120%;
    color: #212D4B;
}


/* footer */
.footer-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    justify-content: space-around;
    padding: 50px 0 30px;

}

.footer-row h3{
    font-family:"Geologica";
    color: #BF996F;;
}

#footer{
    color: white;
}

.footer-row p{
    align-self: center;
}

.contacto-footer {
    align-items: center;
}

.contacto-footer .call{
    padding-bottom: 20px;
    cursor: pointer;
}
.horario-box{
    display: flex;
}

.horas p{
    padding-left: 25px;
}

.horario-encabezado,
.dias .horas{
    flex-direction: column;
}


